extends layout_path

block content
    div
        br
        br
        div.col-xs-3
        div.col-xs-8
            h1 Relationship between #{name1} and #{name2}: 
        div(id="tree-container")
        div
            if terms.length
                //- div.col-xs-4
                //-     ul
                //-         for other in terms
                //-             li
                //-                 a.text-highlight(href='/terms/#{other.id}') #{other.name}
                //- div.col-xs-4
                //-     if relationships.length
                //-         ul
                //-             for rel in relationships
                //-                 li
                //-                     a.text-highlight #{rel.type}
            else
                h4 No relationships yet.
    input(id='json', type='hidden', value='#{json}')