extends layout

block content
    div.main
        h1 Relationship between #{name1} and #{name2}: 
            if terms.length
                div.col-xs-4
                    ul
                        for other in terms
                            li
                                a.text-highlight(href='/terms/#{other.id}') #{other.name}
            else
                h4 No relationships yet.
        div.col-xs-4
            if relationships.length
                ul
                    for rel in relationships
                        li
                            a.text-highlight #{rel.type}