extends layout

block content
    h1 #{term.name}

    p
        a(href='/terms') Back to everyone

    if following.length
        p #{term.name} is following #{following.length} terms:
        // TODO should say 'term' if only one! ;)
        ul.terms
            for other in following
                li.term
                    form(action='/terms/#{term.id}/unfollow', method='POST')
                        a(href='/terms/#{other.id}') #{other.name}
                        input(type='hidden', name='term[id]', value='#{other.id}')
                        input(type='submit', class='unfollow', value='x')
    else
        p #{term.name} isn't following any terms currently.

    if others.length
        form(action='/terms/#{term.id}/follow', method='POST')
            p Add someone for #{term.name} to follow:
            label
                select(name='term[id]', required)
                    option(value='')
                    for term in others
                        option(value='#{term.id}') #{term.name}
            input(type='submit', value='Follow')
    else
        p There's no other term left for #{term.name} to follow!

    form(action='/terms/#{term.id}', method='POST')
        p Edit this term:
        input(type='text', name='name', placeholder='#{term.name}', required)
        input(type='submit', value='Update')

    form(action='/terms/#{term.id}', method='POST', onsubmit='return confirm("Are you sure?");')
        p And if you're feeling destructive…
        input(type='hidden', name='_method', value='DELETE')
        input(type='submit', value='Delete Term')
