extends layout

block content
    div.before-main
        form(action='/search', method='POST')
            div.row.search-bar.text-primary
                div.col-xs-6
                    input.form-control.input-lg(type='text', name='name', placeholder='Search a term', required)
                div.col-xs-1
                    input.btn.btn-lg.btn-default(type='submit', value='Graphedia')
    div.main
        h1.text-info <span class='text-highlight'>#{term.name}</span> - <span class='text-highlight'>#{term.description}</span>

        div.row
            div.col-md-6.subdiv
                //Following related block
                if following.length
                    p.text-info <span class='text-highlight'>#{term.name}</span> is following <span class='text-primary'>#{following.length}</span> terms:
                    // TODO should say 'term' if only one! ;)
                    ul
                        for other in following
                            li.text-info
                                form(action='/terms/#{term.id}/unfollow', method='POST')
                                    a.text-highlight(href='/terms/#{other.id}') #{other.name}
                                    input(type='hidden', name='term[id]', value='#{other.id}')
                                    input.btn.btn-close(type='submit', class='unfollow', value='x')
                else
                    p.text-info <span class='text-highlight'>#{term.name}</span> isn't following any terms currently.

                if following_others.length
                    form(action='/terms/#{term.id}/follow', method='POST')
                        p.text-primary Add a term for <span class='text-highlight'>#{term.name}</span> to follow:
                        div.row
                            div.col-xs-4
                                label
                                    select.form-control(name='term[id]', required)
                                        option(value='')
                                        for term in following_others
                                            option(value='#{term.id}') #{term.name}
                            div.col-xs-1
                                input.btn.btn-primary(type='submit', value='Follow')
                else
                    p.text-warning There's no other term left for <span class='text-highlight'>#{term.name}</span> to follow!
            div.col-md-6.subdiv
                //Contain related block
                if containing.length
                    p.text-info <span class='text-highlight'>#{term.name}</span> contains <span class='text-highlight'>#{containing.length}</span> terms:
                    // TODO should say 'term' if only one! ;)
                    ul
                        for other in containing
                            li.text-info
                                form(action='/terms/#{term.id}/uncontain', method='POST')
                                    a.text-highlight(href='/terms/#{other.id}') #{other.name}
                                    input(type='hidden', name='term[id]', value='#{other.id}')
                                    input.btn.btn-close(type='submit', class='uncontain', value='x')
                else
                    p.text-info <span class='text-highlight'>#{term.name}</span> does not contain any terms currently.

                if containing_others.length
                    form(action='/terms/#{term.id}/contain', method='POST')
                        p.text-primary Add a term for <span class='text-highlight'>#{term.name}</span> to contain:
                        div.row
                            div.col-xs-4
                                label
                                    select.form-control(name='term[id]', required)
                                        option(value='')
                                        for term in containing_others
                                            option(value='#{term.id}') #{term.name}
                            div.col-xs-1
                                input.btn.btn-primary(type='submit', value='Contain')
                else
                    p.text-warning There's no other term left for <span class='text-highlight'>#{term.name}</span> to contain!
        
        div.others
            form.text-warning(action='/terms/#{term.id}', method='POST')
                div.row
                    div.col-xs-3
                        p.text-primary Edit this term:
                    div.col-xs-2    
                        input.form-control(type='text', name='name', value='#{term.name}', required)
                    div.col-xs-4
                        if term.description
                            input(type='text', name='description', value='#{term.description}', class='form-control', required)
                        else
                            input(type='text', name='description', placeholder='a description for your term', class='form-control', required)
                    div.col-xs-1
                        input(type='submit', value='Update', class='btn btn-warning')

            form.text-danger(action='/terms/#{term.id}', method='POST', onsubmit='return confirm("Are you sure?");')
                div.row
                    div.col-xs-3
                        p And if you're feeling destructive…
                    div.col-xs-1
                        input(type='hidden', name='_method', value='DELETE')
                        input.btn.btn-danger(type='submit', value='Delete Term')

        input(id='json', type='hidden', value='#{json}')
