extends layout_viz

block content
    div(id='termname', value=term.name)
    if (typeof info !== "undefined") 
        h4(align='center') #{info}
    div(id="tree-container")
    div(style='margin-top:15px')

    div.titlebox(id='togglebox1', style='cursor:zoom-out')
        div.row
            div.col-xs-8
                p Details of <span class='titlebox-text-highlight'>#{term.name}</span>
            div.col-xs-4
                p(id='toggletext1') Hide
    div.subdiv(id='subdiv1', style = "display : block;")
        p <strong>#{term.name}</strong> - <strong>#{term.description}</strong>
        ul
            li
                //is_part_of related block
                if is_part_of.length
                    p <strong>#{term.name}</strong> is part of <strong>#{is_part_of.length}</strong> terms:
                    // TODO should say 'term' if only one! ;)
                    ul
                        for other in is_part_of
                            li                                    
                                form(action='/terms/#{term.id}/uncustom', method='POST')
                                    a.text-highlight(href='/terms/#{other.id}') #{other.name}
                                    input(type='hidden', name='term[id]', value='#{other.id}')
                                    input(type='hidden', name='relationship[name]', value='is_part_of')
                                    if logged_in
                                        input.btn.btn-close(type='submit', value='x')
                else
                    p <strong>#{term.name}</strong> isn't part of any terms.
            li
                //including related block
                if including.length
                    p <strong>#{term.name}</strong> includes <strong>#{including.length}</strong> terms:
                    // TODO should say 'term' if only one! ;
                    ul
                        for other in including
                            li
                                form(action='/terms/#{term.id}/uncustom', method='POST')
                                    a.text-highlight(href='/terms/#{other.id}') #{other.name}
                                    input(type='hidden', name='term[id]', value='#{other.id}')
                                    input(type='hidden', name='relationship[name]', value='includes')
                                    if logged_in
                                        input.btn.btn-close(type='submit', value='x')
                else
                    p <strong>#{term.name}</strong> does not includes any terms currently.
            li
                //depend related block
                if depend.length
                    p <strong>#{term.name}</strong> depends on <strong>#{depend.length}</strong> terms:
                    // TODO should say 'term' if only one! ;)
                    ul
                        for other in depend
                            li
                                form(action='/terms/#{term.id}/uncustom', method='POST')
                                    a.text-highlight(href='/terms/#{other.id}') #{other.name}
                                    input(type='hidden', name='term[id]', value='#{other.id}')
                                    input(type='hidden', name='relationship[name]', value='depends_on')
                                    if logged_in
                                        input.btn.btn-close(type='submit', value='x')
                else
                    p <strong>#{term.name}</strong> does not depend on any terms.

            li
                //successor related block
                if successor.length
                    p <strong>#{term.name}</strong> is a successor of <strong>#{successor.length}</strong> terms:
                    // TODO should say 'term' if only one! ;)
                    ul
                        for other in successor
                            li                                    
                                form(action='/terms/#{term.id}/uncustom', method='POST')
                                    a.text-highlight(href='/terms/#{other.id}') #{other.name}
                                    input(type='hidden', name='term[id]', value='#{other.id}')
                                    input(type='hidden', name='relationship[name]', value='is_successor_of')
                                    if logged_in
                                        input.btn.btn-close(type='submit', value='x')
                else
                    p <strong>#{term.name}</strong> is not a successor of any terms.

            li
                //predecessor related block
                if predecessor.length
                    p <strong>#{term.name}</strong> is a predecessor of <strong>#{predecessor.length}</strong> terms:
                    ul
                        for other in predecessor
                            li
                                form(action='/terms/#{term.id}/uncustom', method='POST')
                                    a.text-highlight(href='/terms/#{other.id}') #{other.name}
                                    input(type='hidden', name='term[id]', value='#{other.id}')
                                    input(type='hidden', name='relationship[name]', value='is_predecessor_of')
                                    if logged_in
                                        input.btn.btn-close(type='submit', value='x')
                else
                    p <strong>#{term.name}</strong> is not a predecessor of any terms.
            p(style='text-align:right')
                a.text-highlight(id='wikiurl', target="_blank") #{term.name} in Wikipedia

    div.titlebox(onclick='toggle2()', id='togglebox2', style='cursor:zoom-in')
        div.row
            div.col-xs-8
                p Search inside <span class='titlebox-text-highlight'>#{term.name}</span>
            div.col-xs-4
                p(id='toggletext2') Click to expand
    div.subdiv(id='subdiv2', style='display: none;')
        div.row
            div.col-xs-4
                p(align='center', style='padding-top: 5px') Relationship between
            div.col-xs-8
                form(role='form', action="/pathfind",method="post")
                    div.col-xs-4
                        input.form-control.form-style(type='hidden', name="name1", value='#{term.name}')
                        p(style='padding-top: 5px', align='center') <strong>#{term.name}</strong>
                    div.col-xs-1
                        p(style='padding-top: 5px', align='center') and
                    div.col-xs-4
                        input.form-control.form-style(type='text', name="name2", placeholder='Second Term', required)
                    div.col-xs-2
                        input.btn.btn-normal(type='submit') Search
                    &nbsp;

    div.titlebox(onclick='toggle3()', id='togglebox3', style='cursor:zoom-in')
        div.row
            div.col-xs-8
                p Manage <span class='titlebox-text-highlight'>#{term.name}</span>
            div.col-xs-4
                p(id='toggletext3') Click to expand
    div.subdiv(id='subdiv3', style='display: none;')
        p Add a new relationship for <strong>#{term.name}</strong>:
        form(action='/terms/#{term.id}/custom', method='POST')                    
            div.row
                div.col-xs-3
                    p(style='padding-top: 5px', align='center') <strong>#{term.name}</strong>
                    input(type='hidden', name="name1", placeholder='#{term.name}')
                div.col-xs-3
                    label(style="width: 100%;")
                        select.form-style(name='relationship[name]', required, id='e1', style="width: 100%;")
                            option.form-style(id='select-control')
                            for type in relationship_types
                                option.form-style(id='select-control', value='#{type}') #{type}
                div.col-xs-4
                    label(style="width: 100%;")
                        select.form-style(name='term[id]', required, id='e2',style="width: 100%;")
                            option.form-style 
                            for term in all_others
                                option.form-style(value='#{term.id}') #{term.name}
                div.col-xs-2
                    input.btn.btn-normal(type='submit', value='Add')
        br
        p(style='padding-top: 5px') Edit <strong>#{term.name}</strong>:
        form(action='/terms/#{term.id}', method='POST')            
            div.row
                div.col-xs-3    
                    input.form-control.form-style(type='text', name='name', value='#{term.name}', required)
                div.col-xs-7
                    if term.description
                        input.form-control.form-style(type='text', name='description', value='#{term.description}', required)
                    else
                        input.form-control.form-style(type='text', name='description', placeholder='Give a description for the term', required)
                div.col-xs-2
                    input.btn.btn-normal(type='submit', value='Update')
        br
        form(action='/terms/#{term.id}', method='POST', onsubmit='return confirm("Are you sure?");')
            div.row
                div.col-xs-10
                    if logged_in
                        p Delete <strong>#{term.name}</strong> :
                    else
                        p (Delete function only available for moderators)
                div.col-xs-2
                    if logged_in
                        input(type='hidden', name='_method', value='DELETE')
                        input.btn.btn-normal(type='submit', value='Delete Term')
                    else
                        input.btn.btn-normal(type='submit', value='Delete Term', disabled="disabled")
    div(style='padding:15px')
        if term.created_at
            p <strong>Created at</strong> : <span>#{created_at}</span> Singapore Time
        if term.last_viewed_at
            p <strong>Last viewed at</strong> : <span>#{last_viewed_at}</span> Singapore Time
        if term.last_modified_at
            p <strong>Last modified at</strong> : <span>#{last_modified_at}</span> Singapore Time



    input(id='json', type='hidden', value='#{json}')
