extends layout_viz

block content
    div.before-main
        form(action='/search', method='POST')
            div.row.search-bar
                div.col-xs-6
                    input.form-control.input-lg(type='text', name='name', placeholder='Search a term', required)
                div.col-xs-1
                    input.btn.btn-lg.btn-default(type='submit', value='Graphedia')
    div.main
        h1 <span class='text-highlight'>#{term.name}</span> - <span class='text-highlight'>#{term.description}</span>
        div(id="tree-container")
        div.subdiv
            //is_part_of related block
            if is_part_of.length
                p <span class='text-highlight'>#{term.name}</span> is part of <span class='text-highlight'>#{is_part_of.length}</span> terms:
                // TODO should say 'term' if only one! ;)
                ul
                    for other in is_part_of
                        li
                            form(action='/terms/#{term.id}/uncustom', method='POST')
                                a.text-highlight(href='/terms/#{other.id}') #{other.name}
                                input(type='hidden', name='term[id]', value='#{other.id}')
                                input(type='hidden', name='relationship[name]', value='is_part_of')
                                input.btn.btn-close(type='submit', value='x')
            else
                p <span class='text-highlight'>#{term.name}</span> isn't part of any terms.

            //- if following_others.length
            //-     form(action='/terms/#{term.id}/follow', method='POST')
            //-         p Add a term for <span class='text-highlight'>#{term.name}</span> to follow:
            //-         div.row
            //-             div.col-xs-4
            //-                 label
            //-                     select.form-control(name='term[id]', required)
            //-                         option(value='')
            //-                         for term in following_others
            //-                             option(value='#{term.id}') #{term.name}
            //-             div.col-xs-1
            //-                 input.btn(type='submit', value='Follow')
            //- else
            //-     p There's no other term left for <span class='text-highlight'>#{term.name}</span> to follow!
            
            //including related block
            if including.length
                p <span class='text-highlight'>#{term.name}</span> includes <span class='text-highlight'>#{containing.length}</span> terms:
                // TODO should say 'term' if only one! ;)
                ul
                    for other in including
                        li
                            form(action='/terms/#{term.id}/uncustom', method='POST')
                                a.text-highlight(href='/terms/#{other.id}') #{other.name}
                                input(type='hidden', name='term[id]', value='#{other.id}')
                                input(type='hidden', name='relationship[name]', value='includes')
                                input.btn.btn-close(type='submit', value='x')
            else
                p <span class='text-highlight'>#{term.name}</span> does not includes any terms currently.

                //- if containing_others.length
                //-     form(action='/terms/#{term.id}/contain', method='POST')
                //-         p Add a term for <span class='text-highlight'>#{term.name}</span> to contain:
                //-         div.row
                //-             div.col-xs-4
                //-                 label
                //-                     select.form-control(name='term[id]', required)
                //-                         option(value='')
                //-                         for term in containing_others
                //-                             option(value='#{term.id}') #{term.name}
                //-             div.col-xs-1
                //-                 input.btn(type='submit', value='Contain')
                //- else
                //-     p There's no other term left for <span class='text-highlight'>#{term.name}</span> to contain!
        div.subdiv
                form(action='/terms/#{term.id}/custom', method='POST')                    
                    div.row
                        div.col-xs-3
                            p Add a new relationship for <span class='text-highlight'>#{term.name}</span>:
                        div.col-xs-2
                            label
                                select.form-control(name='relationship[name]', placeholder='relationship', required)
                                    option(value='')
                                    for type in relationship_types
                                        option(value='#{type}') #{type}
                        div.col-xs-4
                            label
                                select.form-control(name='term[id]', placeholder='term', required)
                                    option(value='')
                                    for term in all_others
                                        option(value='#{term.id}') #{term.name}
                        div.col-xs-1
                            input.btn(type='submit', value='Add')
        div.subdiv
            form(action='/terms/#{term.id}', method='POST')            
                div.row
                    div.col-xs-3
                        p Edit this term:
                    div.col-xs-2    
                        input.form-control(type='text', name='name', value='#{term.name}', required)
                    div.col-xs-4
                        if term.description
                            input.form-control(type='text', name='description', value='#{term.description}', required)
                        else
                            input.form-control(type='text', name='description', placeholder='a description for your term', required)
                    div.col-xs-1
                        input.btn(type='submit', value='Update')
        div.subdiv
            form(action='/terms/#{term.id}', method='POST', onsubmit='return confirm("Are you sure?");')
                div.row
                    div.col-xs-3
                        p And if you're feeling destructive…
                    div.col-xs-1
                        input(type='hidden', name='_method', value='DELETE')
                        input.btn(type='submit', value='Delete Term')

        input(id='json', type='hidden', value='#{json}')
