extends layout_viz

block content
    div.main
        div(id='termname', value=term.name)
        div(id="tree-container")
        div(style='margin-top:15px')

        div.titlebox(onclick='toggle1()')
            div.row
                div.col-xs-8
                    p Details of <span class='titlebox-text-highlight'>#{term.name}</span>
                div.col-xs-4
                    p(id='toggletext1') Hide
        div.subdiv(id='subdiv1', style = "display : block;")
            p
                a.text-highlight #{term.name} - #{term.description}
            //is_part_of related block
            if is_part_of.length
                p <span class='text-highlight'>#{term.name}</span> is part of <span class='text-highlight'>#{is_part_of.length}</span> terms:
                // TODO should say 'term' if only one! ;)
                ul
                    for other in is_part_of
                        li
                            form(action='/terms/#{term.id}/uncustom', method='POST')
                                a.text-highlight(href='/terms/#{other.id}') #{other.name}
                                input(type='hidden', name='term[id]', value='#{other.id}')
                                input(type='hidden', name='relationship[name]', value='is_part_of')
                                input.btn.btn-close(type='submit', value='x')
            else
                p <span class='text-highlight'>#{term.name}</span> isn't part of any terms.
            
            //including related block
            if including.length
                p <span class='text-highlight'>#{term.name}</span> includes <span class='text-highlight'>#{including.length}</span> terms:
                // TODO should say 'term' if only one! ;
                ul
                    for other in including
                        li
                            form(action='/terms/#{term.id}/uncustom', method='POST')
                                a.text-highlight(href='/terms/#{other.id}') #{other.name}
                                input(type='hidden', name='term[id]', value='#{other.id}')
                                input(type='hidden', name='relationship[name]', value='includes')
                                input.btn.btn-close(type='submit', value='x')
            else
                p <span class='text-highlight'>#{term.name}</span> does not includes any terms currently.
            p(style='text-align:right')
                a.text-highlight(id='wikiurl', target="_blank") #{term.name} in wikipedia
        div.titlebox(onclick='toggle2()')
            div.row
                div.col-xs-8
                    p Add a new relationship for <span class='titlebox-text-highlight'>#{term.name}</span>:
                div.col-xs-4
                    p(id='toggletext2') Click to expand
        div.subdiv(id='subdiv2', style='display: none;')
            form(action='/terms/#{term.id}/custom', method='POST')                    
                div.row
                    div.col-xs-3
                        p.text-highlight(align='right') #{term.name}
                    div.col-xs-3
                        label(style="width: 100%;")
                            select.form-style(name='relationship[name]', required, id='e1', style="width: 100%;")
                                option(id='select-control')
                                for type in relationship_types
                                    option(id='select-control', value='#{type}') #{type}
                    div.col-xs-4
                        label(style="width: 100%;")
                            select.form-style(name='term[id]', required, id='e2',style="width: 100%;")
                                option.form-style 
                                for term in all_others
                                    option.form-style(value='#{term.id}') #{term.name}
                    div.col-xs-2
                        input.btn.btn-normal(type='submit', value='Add')

        div.titlebox(onclick='toggle3()')
            div.row
                div.col-xs-8
                    p Edit this term
                div.col-xs-4
                    p(id='toggletext3') Click to expand
        div.subdiv(id='subdiv3', style='display: none;')
            form(action='/terms/#{term.id}', method='POST')            
                div.row
                    div.col-xs-3    
                        input.form-control.form-style(type='text', name='name', value='#{term.name}', required)
                    div.col-xs-7
                        if term.description
                            input.form-control.form-style(type='text', name='description', value='#{term.description}', required)
                        else
                            input.form-control.form-style(type='text', name='description', placeholder='Give a description for the term', required)
                    div.col-xs-2
                        input.btn.btn-normal(type='submit', value='Update')

            form(action='/terms/#{term.id}', method='POST', onsubmit='return confirm("Are you sure?");')
                div.row
                    div.col-xs-10
                        p Or you can delete the term
                    div.col-xs-2
                        input(type='hidden', name='_method', value='DELETE')
                        input.btn.btn-normal(type='submit', value='Delete Term')

        div(style='padding:15px')
            if term.created_at
                p <span class='text-highlight'>Created at</span> : <span>#{created_at}</span> Singapore Time
            if term.last_viewed_at
                p <span class='text-highlight'>Last viewed at</span> : <span>#{last_viewed_at}</span> Singapore Time
            if term.last_modified_at
                p <span class='text-highlight'>Last modified at</span> : <span>#{last_modified_at}</span> Singapore Time



        input(id='json', type='hidden', value='#{json}')
